.title {font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;

}
html { background-color: black;
       font-family: Verdana;
       text-align: center;

}
a { color: Aquamarine;
    font-size: 16px;
    text-align: center;
}
.heading { font-weight: 300px;
           font-size: 42px;
           color:white;

}
p{color:gray;
  font-size: 21px;

}
.copyright { text-align: right;
             color: grey;

}
